.places__kurshskay {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content;
	gap: 40px;
	margin-bottom: 80px;
}

.places__kurshskay:last-child {
	margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
	.places__kurshskay {
	gap: 32px;
	}
}

@media screen and (max-width: 1023px) {
	.places__kurshskay {
	gap: 28px;
	}
} 

@media screen and (max-width: 767px) {
	.places__kurshskay {
	gap: 32px;
	}
} 