.places__kurshskay_web {
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 22px;
}

.places__kurshskay_web:hover {
	text-decoration: underline;
	cursor: url('../../../../images/Layers.png'), pointer;
}