.place__link-web {
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 22px;
}

.place__link-web:hover {
	text-decoration: underline;
	cursor: url('../../../images/Layers.png'), pointer;
}