@font-face {
	font-family: 'Inter-Regular';
	src: url('../vendor/fonts/Inter-Regular.woff2')	format('woff2'),
		   url('/vendor/fonts/Inter-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter-Bold';
	src: url('../vendor/fonts/Inter-Bold.woff2') format('woff2'),
			 url('../vendor/fonts/Inter-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Inter-Black';
	src: url('../vendor/fonts/Inter-Black.woff2')	format('woff2'),
			 url('../vendor/fonts/Inter-Black.woff') format('woff');
	font-style: normal;
	font-weight: 900;
}

body {
	background-color: #2A2C2F;
	color: white;
	max-width: 1280px;
}

.header {
  display: flex;
  margin: 28px 48px 0;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
	width: 176px;
	height: 52px;
}

.lang__link {
  text-decoration: none;
	color: white;
	font-size: 24px;
	line-height: 28px;
	margin-right: 18px;
	margin-top: 18px;
}

.lang__link:last-child {
	margin: 0;
}

.lang__link:hover {
	text-decoration: underline;
}

.lead-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 984px;
	height: 1005px;
	margin: 0 auto;
}

.lead__title {
	font-size: 96px;
	line-height: 100px;
	width: 720px;
	height: 200px;
	text-align: center;
}

.lead__text {
	font-size: 30px;
  line-height: 36px;
}

.lead__image-text {
	margin: 0;
}

.intro-center {
	display: flex;
	flex-direction: column;
	width: 690px;
	height: 429px;
	margin-left: 148px;
}