.photo-grid__element {
	max-width: 284px;
}

@media screen and (max-width: 1023px) {
	.photo-grid__element {
		max-width: 352px;
	}
}

@media screen and (max-width: 767px) {
	.photo-grid__element {
		max-width: 288px;
	}
}